@font-face
{
    font-family: 'Cuprum';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/cuprum.woff2') format('woff2'),
    url('../fonts/cuprum.woff') format('woff');
}

@font-face
{
    font-family: 'Cuprum';
    font-weight: bold;
    font-style: normal;

    src: url('../fonts/cuprumbold.woff2') format('woff2'),
    url('../fonts/cuprumbold.woff') format('woff');
}

@font-face
{
    font-family: 'Cuprum';
    font-weight: normal;
    font-style: italic;

    src: url('../fonts/cuprumitalic.woff2') format('woff2'),
    url('../fonts/cuprumitalic.woff') format('woff');
}

@font-face
{
    font-family: 'Cuprum';
    font-weight: bold;
    font-style: italic;

    src: url('../fonts/cuprumbolditalic.woff2') format('woff2'),
    url('../fonts/cuprumbolditalic.woff') format('woff');
}

@font-face
{
    font-family: 'PT Sans';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/ptsans.woff2') format('woff2'),
    url('../fonts/ptsans.woff') format('woff');
}

@font-face
{
    font-family: 'PT Sans';
    font-weight: bold;
    font-style: normal;

    src: url('../fonts/ptsansbold.woff2') format('woff2'),
    url('../fonts/ptsansbold.woff') format('woff');
}


/* PAGE STYLES */
html
{
    box-sizing: border-box;
}

*,
::before,
*::after
{
    box-sizing: inherit;
}

body
{
    font-family: 'PT Sans', 'Times New Roman', sans-serif;
    font-size: 13px;
    line-height: 24px;

    margin: 0;
    padding: 0;

    color: #000;
    background-color: #fff;
}

a
{
    text-decoration: none;
}

.visually-hidden
{
    position: absolute;

    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
}

.uppercase
{
    text-transform: uppercase;
}


/* PAGE - BUTTONS */
.button
{
    font-family: Cuprum, Arial;

    cursor: pointer;
}

/* PAGE - BUTTONS - CALORS */
.button-red
{
    color: #fff;
    background-color: #ee3643;
}

.button-red:hover,
.button-red:focus
{
    background-color: #ca2c37;
}

.button-red:active
{
    background-color: #ba2732;
}

.button-green
{
    color: #fff;
    background-color: #63a63e;
}

.button-green:hover,
.button-green:focus
{
    color: #fff;
    background-color: #5fbb2d;
}

.button-green:active
{
    color: #fff;
    background-color: #518534;
}

.button-outline-green
{
    border-width: 3px;
    border-style: solid;
    border-color: #63a63e;
    background-color: #fff;
}

.button-outline-green:hover,
.button-outline-green:focus
{
    color: #32425c;
    border-color: #32425c;
}

.button-outline-green:active
{
    color: #c1c6ce;
    border-color: #c1c6ce;
}

/* PAGE - BUTTONS - TYPES */

/* Design of main site header */
.main-header
{
    font-family: 'Cuprum', sans-serif;

    background-color: #f3f7f8;
}

/* Website menu design */
.user-navigation-block,
.main-navigation
{
    width: 100%;

    background-color: #32425c;
}

.user-navigation-block .user-navigation-list,
.main-navigation .main-navigation-list
{
    list-style: none;
}

.main-navigation a,
.user-navigation-block a
{
    color: #fff;
}

.main-navigation .site-navigation-item a
{
    font-family: inherit;
}

/* Menu design - Reaction when you hover on the menu item */

.user-navigation-block a:hover,
.user-navigation-block a:focus
{
    color: #fff;
    background-color: #212a3a;
}

.main-navigation a:hover,
.main-navigation a:focus
{
    color: #fff;
    background-color: #293449;
}

/* Menu design - Reaction of clicking on the menu item */
.main-navigation a:active
{
    color: #babbbd;
    background-color: #161d29;
}
.user-navigation a:active
{
    color: #a8abaf;
    background-color: #1d2739;
}

.site-navigation .site-navigation-item
{
    font-size: 17px;
    line-height: 17px;
}

/* Menu design  */
.main-header a.button
{
    font-size: 17px;
    line-height: 18px;

    position: relative;
}

.button.button-favorite,
.button.button-basket
{
    padding-left: 27px;
}

.button.button-basket::before,
.button.button-favorite::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 14px;
    height: 16px;

    content: '';

    background-repeat: no-repeat;
    background-position: left;
}

.button.button-basket::before
{
    background-image: url('../img/icon-basket.svg');
}

.button.button-favorite::before
{
    background-image: url('../img/icon-favorite.svg');
}

.button.button-cart
{
    padding-left: 50px;
}

.main-header a.button.button-checkout
{
    font-size: 17px;
    line-height: 18px;

    background-color: #63a63e;
}

.main-header a.button.button-checkout:hover,
.main-header a.button.button-checkout:focus
{
    background-color: #5fbb2d;
}

.main-header a.button.button-checkout:active
{
    background-color: #518534;
}

.main-header h1
{
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    line-height: 23px;

    color: #e9292a;
}

.main-header a.button.button-call,
.main-header a.button.button-call:hover,
.main-header a.button.button-call:focus,
.main-header a.button.button-call:active,
.main-header a.button.button-call:visited
{
    color: #e9292a;
    border: 3px solid #fff;
    background-color: transparent;
}

.main-header address
{
    font-family: inherit;
    font-size: 14px;
    line-height: 24px;

    color: #32425c;
}

.profile-area-list
{
    list-style: none;
}

.main-header a.button.button-logon,
.main-header a.button.button-registration
{
    font-family: inherit;
    font-size: 21px;
    line-height: 21px;

    color: #000;
    background-color: #fff;
}

.main-header a.button:hover
{
    color: #ee3643;
}

.main-header a.button:active
{
    color: #cacaca;
}

/* LANDING SECTIONS */
.landing-section .section-header
{
    background-color: #f9f5f0;
}

.landing-section .section-headline
{
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 30px;
    line-height: 30px;

    color: #32425c;
}

/* SECTION - FEATURES */
.section-features .features-list
{
    list-style: none;
}

.section-features .bg-yellowish
{
    background-color: #ffbf47;
}

.section-features .bg-blue
{
    background-color: #3bbce3;
}

.section-features .bg-pink
{
    background-color: #dc91d8;
}

.section-features .bg-green
{
    background-color: #8ed78f;
}

.section-features .feature-title
{
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;

    color: #fff;
}

.section-features .button
{
    font-size: 14px;
    line-height: 18px;

    color: #fff;
    background-color: rgba(0, 0, 0, .1);
}


.section-features .button:hover,
.section-features .button:focus
{
    background-color: rgba(0, 0, 0, .2);
}

.section-features .feature-item .button:active
{
    background-color: rgba(0, 0, 0, .3);
}

.section-features .slider-list
{
    list-style: none;
}

.section-features .slider-item
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-features .slider-item:nth-child(1)
{
    background-image: url('../img/index-slider-drills.jpg');
}

.section-features .slider-item:nth-child(2)
{
    background-image: url('../img/index-slider-perforators.jpg');
}

.section-features .slider-item .slider-title,
.section-features .slider-item .slider-content
{
    font-family: 'Cuprum', Arial, sans-serif;

    color: #fff;
}

.section-features .slider-item .slider-title
{
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
}

.section-features .slider-item .slider-content
{
    font-size: 18px;
    line-height: 24px;
}


/* SECTION - CATALOG POPULAR */
.section-catalog-popular .section-header
{
    background-color: #f9f5f0;
}

.section-catalog-popular .section-title
{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;

    color: #32425c;
}

.section-catalog-popular .catalog-list
{
    list-style: none;
}

.section-catalog-popular .catalog-list .catalog-title,
.section-catalog-popular .catalog-list .catalog-last-price,
.section-catalog-popular .catalog-list .catalog-price
{
    font-family: 'PT Sans', 'Times New Roman', sans-serif;
    font-weight: bold;
}

.section-catalog-popular .catalog-list .catalog-title
{
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;

    color: #000;
}

.section-catalog-popular .catalog-list .catalog-last-price
{
    font-size: 17px;
    line-height: 18px;

    color: #a9a9a9;;
}

.section-catalog-popular .catalog-list .catalog-price
{
    font-size: 17px;
    line-height: 18px;

    color: #fff;
    background-color: #ee3643;
}

.catalog-popup .popup-buttons-list
{
    list-style: none;
}

.section-manufacturers .section-header
{
    background-color: #f9f5f0;
}

.section-manufacturers .section-title
{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;

    color: #32425c;
}

.section-manufacturers .manufacturers-list
{
    list-style: none;
}

/* SECTION - SERVICES */
.section-services
{
    font-family: 'PT Sans', 'Times New Roman', sans-serif;
    font-size: 13px;
    line-height: 24px;

    background-color: #f4f8fa;
}

.services-list,
.services-description-list
{
    list-style: none;
}

.services-list .service-item
{
    background-color: #32425c;
}

.services-list .service-item .service-title
{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;

    color: #fff;
}

.services-list .service-item:hover,
.services-list .service-item:focus
{
    background-color: #32425c;
}

.services-list .service-item.active
{
    background-color: #fff;
}

.section-services .service-item.active .service-title
{
    color: #32425c;
}

.services-description-list .services-description
{
    font-family: 'PT Sans', 'Times New Roman', sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.services-description-list .services-subtitle
{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;

    color: #32425c;
}

/* SECTION - ABOUT */
.section-about
{
    font-family: 'PT Sans', 'Times New Roman', sans-serif;
    font-size: 13px;
    line-height: 24px;
}


/* MAIN FOOTER */
.main-footer
{
    background-color: #32425c;
}

/* MAIN FOOTER - COPYRIGHTS */
.footer-copyright p
{
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 18px;

    color: #fff;
}

/* MAIN FOOTER - CONTACTS */
.main-footer address,
.main-footer p
{
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;

    color: #f3f7f9;
}

/* MAIN FOOTER - FOOTER NAVIGATION */
.footer-navigation-top,
.footer-navigation-bottom
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.footer-navigation-top a,
.footer-navigation-bottom a
{
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 24px;

    color: #f1f5f7;
}

.footer-navigation-top a:hover,
.footer-navigation-top a:focus,
.footer-navigation-bottom a:hover,
.footer-navigation-bottom a:focus
{
    color: #ffd180;
}

.footer-navigation-bottom a:hover,
.footer-navigation-bottom a:focus
{
    text-decoration: underline;
}

/* MAIN FOOTER - SOCIAL */
.footer-social .social-list
{
    margin: 0;
    padding: 0;

    list-style: none;
}


/* MAIN FOOTER - FOOTER FEEDBACK */
.footer-feedback-list
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.footer-feedback-list .feedback-title
{
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 18px;

    color: #fff;
}

.footer-feedback-list a
{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;

    color: #ffd180;
}

.footer-feedback-list a:hover,
.footer-feedback-list a:focus
{
    text-decoration: underline;
}

.footer-feedback-list a:active
{
    color: #ee3643;
}

/* MODALS */
.modal-yandexmap,
.modal-feedback
{
    display: none;
}

/* MODAL - YANDEX MAP */


/* MODAL - FEEDBACK */
