@font-face
{
    font-family: 'Cuprum';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/cuprum.woff2') format('woff2'),
    url('../fonts/cuprum.woff') format('woff');
}

@font-face
{
    font-family: 'Cuprum';
    font-weight: bold;
    font-style: normal;

    src: url('../fonts/cuprumbold.woff2') format('woff2'),
    url('../fonts/cuprumbold.woff') format('woff');
}

@font-face
{
    font-family: 'Cuprum';
    font-weight: normal;
    font-style: italic;

    src: url('../fonts/cuprumitalic.woff2') format('woff2'),
    url('../fonts/cuprumitalic.woff') format('woff');
}

@font-face
{
    font-family: 'Cuprum';
    font-weight: bold;
    font-style: italic;

    src: url('../fonts/cuprumbolditalic.woff2') format('woff2'),
    url('../fonts/cuprumbolditalic.woff') format('woff');
}

@font-face
{
    font-family: 'PT Sans';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/ptsans.woff2') format('woff2'),
    url('../fonts/ptsans.woff') format('woff');
}

@font-face
{
    font-family: 'PT Sans';
    font-weight: bold;
    font-style: normal;

    src: url('../fonts/ptsansbold.woff2') format('woff2'),
    url('../fonts/ptsansbold.woff') format('woff');
}


/* PAGE STYLES */
html
{
    box-sizing: border-box;
}

*,
::before,
*::after
{
    box-sizing: inherit;
}

body
{
    font-family: 'PT Sans', 'Times New Roman', sans-serif;
    font-size: 13px;
    line-height: 24px;

    margin: 0;
    padding: 0;

    color: #000;
    background-color: #fff;
}

a
{
    text-decoration: none;
}

.visually-hidden
{
    position: absolute;

    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
}

.uppercase
{
    text-transform: uppercase;
}


/* PAGE - BUTTONS */
.button
{
    font-family: Cuprum, Arial;

    cursor: pointer;
}

/* PAGE - BUTTONS - COLORS */
.button-white,
.button-white:visited
{
    color: #000;
    background-color: #fff;
}

.button-white:hover,
.button-white:focus
{
    color: #ee3643;
}

.button-white:active
{
    color: #c5c5c5;
}

.button-red
{
    color: #fff;
    background-color: #ee3643;
}

.button-red:hover,
.button-red:focus
{
    background-color: #ca2c37;
}

.button-red:active
{
    background-color: #ba2732;
}

.button-green
{
    color: #fff;
    background-color: #63a63e;
}

.button-green:hover,
.button-green:focus
{
    color: #fff;
    background-color: #5fbb2d;
}

.button-green:active
{
    color: #fff;
    background-color: #518534;
}

.button-outline-green
{
    border-width: 3px;
    border-style: solid;
    border-color: #63a63e;
    background-color: #fff;
}

.button-outline-green:hover,
.button-outline-green:focus
{
    color: #32425c;
    border-color: #32425c;
}

.button-outline-green:active
{
    color: #c1c6ce;
    border-color: #c1c6ce;
}

.button-outline-gray,
.button-outline-gray:visited {
    background-color: #fff;
    border-color: #e5e5e5;
    border-style: solid;
}

.button-outline-gray:hover,
.button-outline-gray:focus {
    border-color: #bdc6ca;
}

.button-outline-gray:active {
    color: #000;
    border-color: #ee3643;
}

/* PAGE - BUTTONS - TYPES */

/* MAIN HEADER */
.main-header
{
    background-color: #f3f7f8;
}

/* MAIN HEADER - BUTTONS  */
.main-header .button
{
    font-family: 'Cuprum', 'Arial', sans-serif;

    position: relative;
}

/* MAIN HEADER - BUTTONS - TYPES */
.main-header .button-favorite,
.main-header .button-basket,
.main-header .button-checkout
{
    font-size: 17px;
    line-height: 18px;
}

.main-header .button.button-checkout
{
    background-color: #63a63e;
}

.main-header .button-call,
.main-header .button-call:hover,
.main-header .button-call:focus,
.main-header .button-call:active,
.main-header .button-call:visited
{
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 21px;
    line-height: 21px;

    color: #e9292a;
    border: 3px solid #fff;
    background-color: transparent;
}

.main-header .button-checkout:hover,
.main-header .button-checkout:focus
{
    background-color: #5fbb2d;
}

.main-header .button-checkout:active
{
    background-color: #518534;
}

.main-header .button-login,
.main-header .button-registration
{
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 21px;
    line-height: 21px;
}

/* MAIN HEADER - USER NAVIGATION */
.user-navigation-block
{
    width: 100%;

    background-color: #293449;
}

.user-navigation-block .navigation-list
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.user-navigation-block a
{
    font-family: 'Cuprum', 'Arial', sans-serif;

    color: #fff;
}

.user-navigation-block a:hover,
.user-navigation-block a:focus
{
    color: #fff;
    background-color: #212a3a;
}

.user-navigation-block a:active
{
    color: #a8abaf;
    background-color: #1d2739;
}

/* MAIN HEADER - PROFILE AREA */
.main-header .profile-area
{
    margin: 0;
    padding: 0;

    list-style: none;
}

/* MAIN HEADER - MAIN NAVIGATION */
.main-navigation
{
    width: 100%;

    background-color: #32425c;
}

.main-navigation .navigation-list
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.main-navigation a
{
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 17px;
    line-height: 17px;

    color: #fff;
}

.main-navigation a:hover,
.main-navigation a:focus
{
    color: #fff;
    background-color: #293449;
}

.main-navigation a:active
{
    color: #babbbd;
    background-color: #161d29;
}

/* MAIN HEADER - CONTENT */
.main-header .website-headline
{
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    line-height: 23px;

    color: #e9292a;
}

.main-header address
{
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;

    color: #32425c;
}

.profile-area-list
{
    list-style: none;
}

/* LANDING SECTIONS */
.landing-section .section-header
{
    background-color: #f9f5f0;
}

.landing-section .section-headline
{
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    color: #32425c;
}

/* (CATALOG) HEADLINE BACKGROUND COLORS */
.headline-gray
{
    background-color: #f2f6f8;
}

/* SECTION - FEATURES */
.section-feature .features-list
{
    list-style: none;
}

/* SECTION - FEATURE - BACKGROUND COLORS */
.section-feature .bg-yellowish
{
    background-color: #ffbf47;
}

.section-feature .bg-blue
{
    background-color: #3bbce3;
}

.section-feature .bg-pink
{
    background-color: #dc91d8;
}

.section-feature .bg-green
{
    background-color: #8ed78f;
}

/* SECTION - FEATURE - FEATURE CONTENT */
.section-feature .feature-title
{
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;

    color: #fff;
}

.section-feature .button
{
    font-size: 14px;
    line-height: 18px;

    color: #fff;
    background-color: rgba(0, 0, 0, .1);
}


.section-feature .button:hover,
.section-feature .button:focus
{
    background-color: rgba(0, 0, 0, .2);
}

.section-feature .button:active
{
    background-color: rgba(0, 0, 0, .3);
}

.section-feature .slider-list
{
    list-style: none;
}

.section-feature .slider-item
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-feature .slider-item:nth-child(1)
{
    background-image: url('../img/index-slider-drills.jpg');
}

.section-feature .slider-item:nth-child(2)
{
    background-image: url('../img/index-slider-perforators.jpg');
}

.section-feature .slider-title,
.section-feature .slider-content
{
    font-family: 'Cuprum', Arial, sans-serif;

    color: #fff;
}

.section-feature .slider-title
{
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
}

.section-feature .slider-content
{
    font-size: 18px;
    line-height: 24px;
}

/* (CATALOG) BREADCUMPS OF PAGES */
.breadcumps
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.breadcumps a
{
    font-family: 'PT Sans', 'Times New Roman', sans-serif;
    font-size: 13px;
    line-height: 18px;

    color: #000;
}

/* (CATALOG) CATALOG FILTER */
.catalog-filter h3
{
    font-family: 'PT Sans', 'Times New Roman', sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;

    background-color: #f7f3ec;
}

.catalog-filter legend
{
    font-family: 'PT Sans', 'Times New Roman', sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
}

.catalog-filter .filter-list
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-filter .filter-item
{
    font-family: 'PT Sans', 'Times New Roman', sans-serif;
    font-size: 15px;
    line-height: 20px;
}

.catalog-filter .button {
    font-family: "PT Sans", "Times New Roman", sans-serif;
    font-size: 13px;
    line-height: 18px;
}

/* (CATALOG) CATALOG SORT */
.catalog-sorting-section
{
    background-color: #f7f3ec;
}

.catalog-sorting-section h2
{
    font-family: 'PT Sans', 'Times New Roman', sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}

.catalog-sorting-section .sort-list
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-sorting-section a,
.catalog-sorting-section a:visited
{
    font-family: 'PT Sans', 'Times New Roman', sans-serif;
    font-size: 13px;
    line-height: 18px;

    text-decoration: underline;

    color: #cacaca;

    text-decoration-color: red;
    text-decoration-style: dotted;
}

.catalog-sorting-section a:hover,
.catalog-sorting-section a:focus
{
    color: #000;

    text-decoration-style: solid;
}

.catalog-sorting-section a:active
{
    text-decoration: none;

    color: #ee3643;
}

.catalog-sorting-section .sort-list-priority
{
    margin: 0;
    padding: 0;

    list-style: none;
}

/* (CATALOG) PAGINATOR */
.paginator-list {
    list-style: none;
    padding: none;
    margin: none;
}

.paginator-item .button {
    font-family: "PT Sans", "Times New Roman", sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.paginator-item .button.active {
    background-color: #ee3643;
    border-color: #ee3643;
    color: #fff;
}

/* SECTION - CATALOG */
.section-catalog .section-header
{
    background-color: #f9f5f0;
}

.section-catalog .section-title
{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;

    color: #32425c;
}

.section-catalog .catalog-list
{
    list-style: none;
}

.section-catalog .catalog-title,
.section-catalog .catalog-last-price,
.section-catalog .catalog-price
{
    font-family: 'PT Sans', 'Times New Roman', sans-serif;
    font-weight: bold;
}

.section-catalog .catalog-title
{
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;

    color: #000;
}

.section-catalog .catalog-last-price
{
    font-size: 17px;
    line-height: 18px;

    text-decoration: underline;

    color: #a9a9a9;

    text-decoration-line: line-through;;
}

.section-catalog .catalog-price
{
    font-size: 17px;
    line-height: 18px;

    color: #fff;
    background-color: #ee3643;
}

/* SECTION - CATALOG - BUTTONS */
.section-catalog .button
{
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;
}

/* SECTION - CATALOG - POPUP */
.catalog-popup .popup-buttons-list
{
    margin: 0;
    padding: 0;

    list-style: none;
}

/* SECTION MANUGACTURERS */
.section-manufacturers .manufacturers-list
{
    list-style: none;
}

/* SECTION - SERVICES */
.section-services
{
    font-family: 'PT Sans', 'Times New Roman', sans-serif;
    font-size: 13px;
    line-height: 24px;

    background-color: #f4f8fa;
}

.services-list,
.services-description-list
{
    list-style: none;
}

.services-list .service-item
{
    background-color: #32425c;
}

.services-list .service-item .service-title
{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;

    color: #fff;
}

.services-list .service-item:hover,
.services-list .service-item:focus
{
    background-color: #32425c;
}

.services-list .service-item.active
{
    background-color: #fff;
}

.section-services .service-item.active .service-title
{
    color: #32425c;
}

.services-description-list .services-description
{
    font-family: 'PT Sans', 'Times New Roman', sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.services-description-list .service-subtitle
{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 36px;

    color: #32425c;
}

/* SECTION - ABOUT */
.section-about
{
    font-family: 'PT Sans', 'Times New Roman', sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.section-about .section-headline
{
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
}

.section-about .button
{
    font-family: 'Cuprum', 'Arial', sans-serif;
}

/* SECTION - DESCRIPTION CATALOG SECTION  */
.section-description
{
    background-color: #f2f6f8;
}

/* MAIN FOOTER */
.main-footer
{
    background-color: #32425c;
}

/* MAIN FOOTER - COPYRIGHTS */
.footer-copyright p
{
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 18px;

    color: #fff;
}

/* MAIN FOOTER - CONTACTS */
.main-footer address,
.main-footer p
{
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;

    color: #f3f7f9;
}

/* MAIN FOOTER - FOOTER NAVIGATION */
.footer-navigation-top,
.footer-navigation-bottom
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.footer-navigation-top a,
.footer-navigation-bottom a
{
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 24px;

    color: #f1f5f7;
}

.footer-navigation-bottom a
{
    color: #ffd180;
}

.footer-navigation-top a:hover,
.footer-navigation-top a:focus,
.footer-navigation-bottom a:hover,
.footer-navigation-bottom a:focus
{
    color: #ffd180;
}

.footer-navigation-bottom a:hover,
.footer-navigation-bottom a:focus
{
    text-decoration: underline;
}

/* MAIN FOOTER - SOCIAL */
.footer-social .social-list
{
    margin: 0;
    padding: 0;

    list-style: none;
}


/* MAIN FOOTER - FOOTER FEEDBACK */
.footer-feedback .footer-feedback-list
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.footer-feedback .feedback-title
{
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 18px;

    color: #fff;
}

.footer-feedback a
{
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 18px;

    color: #ffd180;
}

.footer-feedback a:hover,
.footer-feedback a:focus
{
    text-decoration: underline;
}

.footer-feedback a:active
{
    color: #ee3643;
}

/* MODALS */
.modal-yandexmap,
.modal-feedback
{
}

/* MODAL MAIN */
/* MODAL - YANDEX MAP */


/* MODAL - FEEDBACK */
.modal-feedback label {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 18px;
}

.modal-feedback .button {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
}

/* MODAL - CART ADD */
.modal-cart-add .modal-headline {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #000;
    font-weight: normal;
}

.modal-cart-add .button {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
}

